*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    align-items: center;
}

.weight-400{
    font-weight: 400;
}

.weight-600{
    font-weight: 600;
}

.parrafo{
    margin-bottom: 20px;
}

/* Inicio - Home */
.home{
    height: 550px;
    background: rgb( 234, 174, 0);
    color: #fff;
}

.img-home{
    width: 100%;
    height: auto;
    grid-column: 7/13;
}

.img{
    width: 150%;
    max-width: 700px;
}

.textos-home{
    grid-column: 2/7;
    padding-right: 20px;
}

.textos-home p{
    text-align: justify;
}

.cta{
    width: 130px;
    background: #48e;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
}

.cta:hover{
    background: rgb( 234, 174, 0);
    color: #fff;
    border: 1px solid #fff;
}

/* About us */
.about{
    height: 550px;
    margin: 50px 0;
}

.division_cuadros{
    width: 500px;
    height: 500px;
    grid-column: 7/13;
    display: inline-flex;
}

.video{
    width: auto;
    height: auto;
    max-width: 600px;
    z-index: 88;
    position: absolute;
    top: auto;
    margin-left: 50px;
}

.cuadro_sombra{
    background: rgb( 234, 174, 0);
    width: 250px;
    height: 250px;
    margin-top: 220px;
}

.textos-about{
    grid-column: 2/7;
    padding-right: 20px;
}

.textos-about p{
    text-align: justify;
}

.cta{
    width: 130px;
    background: rgb( 234, 174, 0);
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
}

.cta:hover{
    background: #48e;
    color: #fff;
    border: 1px solid #fff;
}

/* Services */
.services{
    height: 500px;
    background:linear-gradient(180deg, rgb( 234, 174, 0) 50%, #fff 50%);
}

.texto_services{
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

.items{
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    width: 30%;
    background: rgb( 234, 174, 0);
    box-shadow: 0 0 10px #fff;
    color: #fff;
    overflow: hidden;
    height: 350px;
    padding: 20px 10px;
    text-align: center;
}

.titulo.services{
    margin: 20px;
}

.doctora{
    width: 150px;
    height: 200px;
}

/* About 2 */
.about2{
    height: 550px;
    margin: 50px 0;
}

.division_cuadros2{
    margin-top: 50px;
    width: 500px;
    height: 500px;
    grid-column: 1/7;
    display: inline-flex;
}

.textos-about2{
    grid-column: 8/13;
    padding-right: 20px;
}

.video2{
    width: auto;
    height: auto;
    max-width: 600px;
    z-index: 88;
    position: absolute;
}

.cuadro_sombra2{
    background: rgb( 234, 174, 0);
    width: 250px;
    height: 250px;
    margin-top: 220px;
    margin-left: 240px;
}

/* Services - Dogs */
.cta_perros{
    width: 130px;
    background: #28e;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 35%;
}

.cta_perros:hover{
    width: 132px;
    background:rgb(234, 174, 0);
    color: #fff;
    border: 1px solid #fff ;
}

/* Doctors */
.doctors{
    height: 700px;
    background:#fff;
}

.texto_doctors{
    color: #000;
    text-align: center;
    padding-top: 200px;
    margin-bottom: -90px;
}

.items{
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    width: 30%;
    background: rgb( 234, 174, 0);
    box-shadow: 0 0 10px #fff;
    color: #fff;
    overflow: hidden;
    height: 350px;
    padding: 20px 10px;
    text-align: center;
}

.titulo.services{
    margin: 20px;
}

.doctora{
    width: 150px;
    height: 200px;
}

a{
    text-decoration: none;
}

/* Services 3 */
.services{
    height: 500px;
    background:linear-gradient(180deg, rgb( 234, 174, 0) 50%, #fff 50%);
}

.items{
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    width: 30%;
    background: rgb( 234, 174, 0);
    box-shadow: 0 0 10px #fff;
    color: #fff;
    overflow: hidden;
    height: 350px;
    padding: 20px 10px;
    text-align: center;
}

.iconos{
    padding: 80px;
}

/* About Doctors */
.about_doctors{
    height: 500px;
    background:#fff;
}

.texto_about_doctors{
    color: #000;
    text-align: center;
    padding-top: 200px;
    margin-bottom: 50px;
}

.fecha{
    color: #48e;
}

.item_about_doctors{
    width: 30%;
    background: #fff;
    box-shadow: 0 0 3px #000;
    color: #000;
    overflow: hidden;
    height: 450px;
    padding: 20px 10px;
    text-align: center;
}

/* Footer */
.footer{
    height: auto;
    background:#000;
    text-align: center;
    color: #fff;
    margin-top: 380px;
}

.footer a{
    text-decoration: none;
}

.items_footer{
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.item_footer{
    width: 30%;
    overflow: hidden;
    height: auto;
    padding: 20px 10px;
    text-align: left;
}

.item_footer a{
    color: #fff;
    margin-left: 0;
    width: 50px;
}

.item_footer a:hover{
    color: rgb( 234, 174, 0);
}

.titulo.services{
    margin: 20px;
}

.texo_footer{
    background: rgb( 234, 174, 0);
    height: 35px;
    margin-right: 0;
    border: none;
}

.iconos_footer{
    text-decoration: none;
    text-align: right;
}

/* Resposive desing */
@media screen and (max-width:800px){
    .home{
        height: auto;
    }

    .grid{
        grid-gap:30px;
    }

    .img-hero, .textos-hero{
        grid-column: 1/-1;
    }

    .img-hero{
        text-align: center;
    }

    .textos-hero{
        margin-top: 30px;
    }

    .services{
        height: auto;
        margin-top: 40px;
    }

    .item{
        width: 60%;
        margin: 40px 0;
        height: auto;
        padding: 40px;
    }

    .img-mission{
        grid-column: 1/-1;
        grid-row: 2/3;
        text-align: center;
    }

    .textos-mission{
        grid-column: 1/-1;
        grid-row: 1/2;
        align-self: center;
    }
}

@media screen and (max-width:400px) {


    .img{
        max-width: 170px;
    }
    
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .item{
        width: 90%;
        flex-shrink: 0;
    }

    .about .video{
        width: auto;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }

    .textos-mission h3{
        margin: 15px;
    }

}
